{% extends "head.html" %}
{% include "message.html" %}

{% block main %}
    <div class="container text-center">
        <h1 style="margin: 5%;">Welcome Admin {{ session.user['name']}}</h1>
        <div><a class="btn btn-block btn-primary" href='{{ url_for("logout") }}'>Logout</a></div>
        <div><a class="btn btn-block btn-success" href='{{ url_for("logout") }}'>My Profile</a></div>
        <div><a class="btn btn-block btn-danger" href='{{ url_for("add_customer") }}'>Add New Customer</a></div>
        <div><a class="btn btn-block btn-info" href='{{ url_for("get_customers") }}'>View Customers</a></div>
        <div><a class="btn btn-block btn-warning" href='{{ url_for("create_user") }}'>Create New User</a></div>
    </div>
{% endblock %}