{% extends "head.html" %}
{% include "message.html" %}

{% block main %}
    <div class="container">
        <h1>Welcome Admin Saheb {{ session.user['username']}}</h1>
        <div><a class="btn btn-block btn-primary" href='{{ url_for("logout") }}'>Logout</a></div>
        <div><a class="btn btn-block btn-success" href='{{ url_for("logout") }}'>My Profile</a></div>
        <div><a class="btn btn-block btn-danger" href='{{ url_for("logout") }}'>Add New Customer</a></div>
        <div><a class="btn btn-block btn-info" href='{{ url_for("logout") }}'>View Customers</a></div>
    </div>
{% endblock %}