{% extends "head.html" %}
{% include "message.html" %}

{% block main %}
    <div class="container">
        <h1>Welcome Admin Saheb</h1>
        <div><a class="btn btn-lg btn-primary" href='{{ url_for("logout") }}'>Logout</a></div>
        <div><a class="btn btn-lg btn-success" href='{{ url_for("logout") }}'>My Profile</a></div>
        <div><a class="btn btn-lg btn-danger" href='{{ url_for("logout") }}'>Add New Customer</a></div>
        <div><a class="btn btn-lg btn-info" href='{{ url_for("logout") }}'>View Customers</a></div>
        <div><a class="btn btn-lg btn-warning" href='{{ url_for("logout") }}'>File Upload</a></div>
    </div>
{% endblock %}