{% extends "head.html" %}
{% include "message.html" %}
{% block main %}
    <div class="container">
        <div style="width:50%;margin: 10% auto;">
            <h1 class="text-center" style="margin-bottom: 5%;">Customer</h1>
        <form action="#" method="POST">
            <!-- input -->
            <div class="form-outline mb-4">
              <input type="text" id="name" class="form-control" placeholder="Enter Customer Name" name="name"  value='{{ customer.name if customer }}'/>
            </div>
            <div class="form-outline mb-4">
              <input type="email" id="email" class="form-control" placeholder="Enter Customer Email" name="email" value='{{ customer.email if customer }}'/>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="phone" class="form-control" placeholder="Enter Customer Phone" name="phone" value='{{ customer.phone if customer }}'/>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
        </form>
        </div>
    </div>
{% endblock %}